XSL/samples2/AdresDefteri1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!ELEMENT Tel (#PCDATA)>
<!ELEMENT Sehir (#PCDATA)>
<!ELEMENT Posta-Kodu ((Posta, Kodu))>
<!ELEMENT Posta (#PCDATA)>
<!ELEMENT Mahalle (#PCDATA)>
<!ELEMENT Kodu (#PCDATA)>
<!ELEMENT Giris ((AdSoyad, Adres, Tel*))>
<!ELEMENT AdresDefteri ((Giris+))>
<!ELEMENT Adres ((Mahalle, Posta-Kodu?, Sehir))>
<!ELEMENT AdSoyad (#PCDATA)>
