XSL/samples2/Bolum1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Soyad" type="xs:string"/>
	<xs:element name="telefon" type="xs:integer"/>
	<xs:element name="Adres">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="il"/>
				<xs:element type="xs:string" name="ilce"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Personel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ad" type="xs:string"/>
				<xs:element ref="Soyad"/>
				<xs:element ref="telefon" minOccurs="1" maxOccurs="2"/>
				<xs:element ref="Adres" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="cinsiyet" type="xs:string"/>
		</xs:complexType>
		
	</xs:element>
	<xs:element name="Bolum">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Personel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
