XSL/samples2/Ogrenciler.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!ELEMENT Soyad (#PCDATA)>
<!ELEMENT Sehir (#PCDATA)>
<!ELEMENT Ogrenciler ((Ogrenci+))>
<!ELEMENT Ogrenci ((Ad, Soyad, ((Dogum, Sehir)?, Maas)?))>
<!ATTLIST Ogrenci
	no CDATA  #IMPLIED
	sinif CDATA  #IMPLIED
>
<!ELEMENT Maas (#PCDATA)>
<!ELEMENT Dogum (#PCDATA)>
<!ELEMENT Ad (#PCDATA)>
