XSL/samples2/Ogrenciler3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Soyad" type="xs:string"/>
	<xs:element name="Sehir" type="xs:string"/>
	<xs:simpleType name="sinirliMaas">
		<xs:restriction base="xs:short">
			<xs:minInclusive value="1000"/>
			<xs:maxInclusive value="10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Ogrenciler">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ogrenci" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ogrenci">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ad"/>
				<xs:element ref="Soyad"/>
				<xs:element ref="Dogum" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Sehir" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Maas" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="sinif" type="xs:string"/>
			<xs:attribute name="no" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Maas" type="sinirliMaas"/>
	<xs:element name="Dogum" type="xs:short"/>
	<xs:element name="Ad" type="xs:string"/>
</xs:schema>
