XSL/samples2/Ogrenciler1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="AT_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2a"/>
			<xs:enumeration value="2c"/>
			<xs:enumeration value="2s"/>
			<xs:enumeration value="3a"/>
			<xs:enumeration value="3d"/>
			<xs:enumeration value="3f"/>
			<xs:enumeration value="4c"/>
			<xs:enumeration value="4s"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Soyad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Aslan"/>
				<xs:enumeration value="Bikmaz"/>
				<xs:enumeration value="Cakir"/>
				<xs:enumeration value="Caparaoglu"/>
				<xs:enumeration value="Kaymaz"/>
				<xs:enumeration value="Orta"/>
				<xs:enumeration value="Ozcelik"/>
				<xs:enumeration value="Pamuk"/>
				<xs:enumeration value="Solmaz"/>
				<xs:enumeration value="Tas"/>
				<xs:enumeration value="Türk"/>
				<xs:enumeration value="Uzun"/>
				<xs:enumeration value="Yilmaz"/>
				<xs:enumeration value="Çam"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sehir">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ankara"/>
				<xs:enumeration value="Burdur"/>
				<xs:enumeration value="Bursa"/>
				<xs:enumeration value="Erzurum"/>
				<xs:enumeration value="Hakkari"/>
				<xs:enumeration value="Kars"/>
				<xs:enumeration value="Kocaeli"/>
				<xs:enumeration value="Samsun"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Ogrenciler">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ogrenci" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ogrenci">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Ad"/>
				<xs:element ref="Soyad"/>
				<xs:choice>
					<xs:element ref="Sehir"/>
					<xs:sequence>
						<xs:sequence minOccurs="0">
							<xs:element ref="Dogum"/>
							<xs:element ref="Sehir"/>
						</xs:sequence>
						<xs:element ref="Maas"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="sinif" type="AT_1"/>
			<xs:attribute name="no" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Maas" type="xs:short"/>
	<xs:element name="Dogum" type="xs:short"/>
	<xs:element name="Ad">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ahmet"/>
				<xs:enumeration value="Ayse"/>
				<xs:enumeration value="Bahadir"/>
				<xs:enumeration value="Berna"/>
				<xs:enumeration value="Güray"/>
				<xs:enumeration value="Hakan"/>
				<xs:enumeration value="Hasan"/>
				<xs:enumeration value="Huseyin"/>
				<xs:enumeration value="Ismail"/>
				<xs:enumeration value="Murat"/>
				<xs:enumeration value="Ozgur"/>
				<xs:enumeration value="Seher"/>
				<xs:enumeration value="Sevil"/>
				<xs:enumeration value="Vural"/>
				<xs:enumeration value="Yavuz"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
