XML/Okul.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="Yas">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="Okul">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="Ogrenci" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ogrenci">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="AdSoyad"/>
					<xs:element ref="Yas"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdSoyad">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
