Jaxb/jaxbProj/ogrenci-kayit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="veliAd" type="xs:string"/>
	<xs:element name="soyad" type="xs:string"/>
	<xs:element name="sinif" type="xs:string"/>
	<xs:element name="ogrenci-kayit">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ogrenci" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ogrenci">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ad"/>
				<xs:element ref="soyad"/>
				<xs:element ref="dogTar"/>
				<xs:element ref="dogYer"/>
				<xs:element ref="veliAd"/>
				<xs:element ref="sinif"/>
			</xs:sequence>
			<xs:attribute name="no" type="xs:byte" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dogYer" type="xs:string"/>
	<xs:element name="dogTar" type="xs:string"/>
	<xs:element name="ad" type="xs:string"/>
</xs:schema>

